<div class="row">
	<%if @recipes.empty?%>
		<div class="alert alert-warning text-center">Nenhuma receita encontrada</div>
	<% end %>
	<div class="col-sm-1 col-md-3">
		<%@recipes.each do |recipe|%>
			<div class="recipe">
				<%unless recipe.picture.file.nil? %>
					<%= image_tag recipe.picture.url, alt: "Foto da receita #{recipe.name}" %>
				<%end%>
				<h2><%=recipe.name%></h2>
				<p>Dificuldade: <%=recipe.difficult_level%></p>
				<p>Serve <%=recipe.serves%> pessoas</p>
				<p>Tempo de preparo: <%=recipe.cook_time%></p>
			</div>
		<%end%>
	</div>
	<div class="col-sm-1 col-md-2">
		<div class="cozinhas">
			<%@cuisines.each do |cuisine|%>
				<div class="cozinha">
					<%=link_to cuisine.name, cuisine %>
				</div>
			<%end%>
		</div>
		<div class="tipos">
			<%@food_types.each do |food_type| %>
				<div class="tipo">
					<%=link_to food_type.name, food_type %>
				</div>
			<%end%>
		</div>
	</div>

	<%= link_to "Nova Receita", new_recipe_path, class: "btn btn-primary" %>
</div>
