<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%=link_to "Social Recipes", root_path, class: "navbar-brand" %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_tag("/recipes/search", method: "post", class: "navbar-form", role: "search") do %>
            <div class="form-group">
              <%= text_field_tag :recipe_search, '', class: "form-control", placeholder: "Buscar por receitas" %>
            </div>

            <%= submit_tag("Buscar", class: "btn btn-default") %>
          <%end%>
        </li>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Receitas", recipes_path %>
        </li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <li><%= link_to "Minha Conta", user_path(current_user)%></li>
          <% else %>
          <li>
            <%= link_to "Log in", login_path %>
          </li>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
